automated_volume_cleanup_workflow.json
{
  "name": "Automated Volume Cleanup",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.fly.io/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $secrets.FLY_API_TOKEN || $env.FLY_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "query { apps { nodes { id name volumes { nodes { id name region sizeGb state attachedAllocation { id app { name } } } } } } }"
            }
          ]
        },
        "options": {}
      },
      "name": "List Volumes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [240, 300],
      "notesInFlow": "Fetch all volumes from Fly.io apps using updated GraphQL schema"
    },
    {
      "parameters": {
        "functionCode": [
          "// Minimal safe function to test data flow",
          "try {",
          "  const items = $input.all();",
          "  console.log('Received items:', items);",
          "  ",
          "  // Always return at least one item with valid structure",
          "  return [{",
          "    json: {",
          "      status: 'function_executed',",
          "      input_count: items ? items.length : 0,",
          "      has_data: items && items.length > 0 && items[0].json",
          "    }",
          "  }];",
          "} catch (error) {",
          "  console.log('Function error:', error);",
          "  return [{",
          "    json: {",
          "      error: 'Function crashed',",
          "      message: error.message",
          "    }",
          "  }];",
          "}"
        ]
      },
      "name": "Filter Orphaned Volumes",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [480, 300],
      "notesInFlow": "Filter volumes to find orphaned ones (no attachedAllocation)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.fly.io/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $secrets.FLY_API_TOKEN || $env.FLY_API_TOKEN || $credentials.flyApiToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "mutation { deleteVolume(input: { volumeId: \"{{$json.volumeId}}\" }) { volume { id } } }"
            }
          ]
        },
        "options": {}
      },
      "name": "Delete Orphaned Volumes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [720, 300],
      "notesInFlow": "Delete each orphaned volume using Fly.io GraphQL mutation"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "List Volumes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Volumes": {
      "main": [
        [
          {
            "node": "Filter Orphaned Volumes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Orphaned Volumes": {
      "main": [
        [
          {
            "node": "Delete Orphaned Volumes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null
}